h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

.headline {
	&-title {
		line-height: 1.3;
	}

	&-scaled {
		font-size: 3.5em;
		margin: 0;

		@media (max-width: $breakpoint-medium) {
			font-size: 2.5em;
		}
	}

	&-catch {
		color: lighten($color-toxic, 90);
		font-size: .9em;
		margin-left: 2px;
		margin-bottom: 0;

		@media (max-width: $breakpoint-medium) {
			font-size: .75em;
		}
	}
}