$color-body: #16161d;
$color-body-alt: #20202c;
$color-primary: #FAFAFA;
$color-headlines: #f1f1f1;
$color-toxic: #3ade5f;

$transition-smooth: cubic-bezier(.42, .47, 0, .87);
$transition-reveal: cubic-bezier(0.3, 0, 0.13, 0.72);


// Website responsiveness
$breakpoint-large: 1200px;
$breakpoint-medium: 1024px;
$breakpoint-small: 840px;